<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="col-lg-12">
                    <div class="section_tittle ">
                    <div class="row">
                        <h2 class="col-10">Active Auctions</h2>
                        <%= link_to 'New Auction', new_auction_path, class: "col-2 btn_2 flex" %>
                    </div>
                    </div>
                </div>
                <div class="row align-items-center latest_product_inner">
                    <% @auctions.each do |auction| %>
                        <% if auction.user_id != current_user.id%>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_product_item">
                                    <%= link_to image_tag(auction.image_url(:thumb).to_s), auction_path(auction)%>
                                    <div class="single_product_text">
                                        <h4><%= auction.title%></h4>
                                        <p>Current Bid $<%= auction.realized_price%></p>
                                        <%= link_to 'Start Bidding', auction_path(auction), class: "add_cart" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

