
  <section class= "form-auth text-center row d-flex justify-content-center banner_part">
  <div class='single_banner_slider'>
  <div class="banner_text">
    <div class="col-3 padding_top banner_text_iner">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control mt-2 min-w-60', placeholder: "Email" %>
            <label for="inputPassword" class="sr-only">Password</label>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control mt-2', placeholder: "Password" %>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <%= f.submit  t('.sign_in'), class: 'btn_3' %>
      <% end %>


      <%= render 'devise/shared/links' %>
    </div>
    </div>
    </div>
    </div>
  </section>


