<!DOCTYPE html>
<html>
  <head>
    <title>SoftwareDeveloperCodingChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <header class="notice">
      <%= render 'layouts/alerts' %>
    </header>
    <%= render 'layouts/navbar' %>
    <div class="container main">
      <div class="main-left">
        <p><strong><%= link_to  "AUTOBID", root_path %></strong></p>
        <p><%= link_to  "New Auction" %></p>
        <p><%= link_to  "My Account", new_user_session_path unless user_signed_in? %></p>
        
        <div class="main-right"><%= yield %></div>
      <div>
    </div>
  </body>
</html>
