<!DOCTYPE html>
<html>
  <head>
    <title>SoftwareDeveloperCodingChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/tooltips' %>
    <%= yield %>
  </body>
</html>
