<!DOCTYPE html>
<html>
  <head>
    <title>AutoBid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application',
      "https://fonts.googleapis.com/css?family=Open+Sans:300i,300,400i,400,700",
      "https://fonts.googleapis.com/css?family=Poppins:400,500,600,700",
      "https://fonts.googleapis.com/css?family=Roboto:400,500i,700",
      media: 'all' %>
  </head>
  <body>


    <%= render 'layouts/alerts' %>
    <%= render 'layouts/nav/navbar' %>


        <%= yield %>
    <%= render 'layouts/nav/footer' %>
    
  </body>

</html>
